﻿@using MvcApplication.DataContract

@model IEnumerable<EmployeeDataContract>
@{
    ViewBag.Title = "Список сотрудников";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>ФИО</th>
        <th>Возраст</th>
        <th>Должность</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="@Url.Action("Edit", new { id = item.Id })">&#9998; @item.FullName</a></td>
            <td>@item.Age</td>
            <td>@item.Position</td>
        </tr>
    }
</table>    

@using (Html.BeginForm("Edit", "Home", FormMethod.Get))
{
    <button class='btn btn-success' @(User.IsInRole("Admin") ? "" : "disabled")>
        Создать нового пользователя 
    </button>
}

