﻿@model MvcApplication.Entities.Employee

@{
    ViewBag.Title = "Личный кабинет";
}

<h2>@ViewBag.Title</h2>
<p>
    Для доставки товара, Вам необходимо заполнить контактную информацию: 
</p>

@using (Html.BeginForm()) {
    {
        @Html.AntiForgeryToken()
  
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <p>
                @Html.LabelFor(model => model.SurName)
                <br/>
                @Html.TextBoxFor(model => model.SurName, new { required = "required", maxlength = 50, size = 50 })
                @Html.ValidationMessageFor(model => model.SurName)
            </p> 
            <p>
                @Html.LabelFor(model => model.FirstName)
                <br/>
                @Html.TextBoxFor(model => model.FirstName, new { required = "required", maxlength = 50, size = 50 })
                @Html.ValidationMessageFor(model => model.FirstName)
            </p>
    
            <p>
                @Html.LabelFor(model => model.Patronymic)
                <br/>
                @Html.TextBoxFor(model => model.Patronymic, new { maxlength = 50, size = 50 })
                @Html.ValidationMessageFor(model => model.Patronymic)
            </p>
            <p>
                @Html.LabelFor(model => model.BirthDate)
                <br/>
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </p>
            <p>
                @Html.LabelFor(model => model.Position)
                <br/>
                @Html.TextBoxFor(model => model.Position, new { maxlength = 50, size = 50 })
                @Html.ValidationMessageFor(model => model.Position)
            </p>
            <p>
                @Html.LabelFor(model => model.BeginWorkDate)
                <br/>
                @Html.EditorFor(model => model.BeginWorkDate)
                @Html.ValidationMessageFor(model => model.BeginWorkDate)
            </p>
            <div>
                @Html.LabelFor(model => model.Accounts)
                <br/>
                @if (Model.Accounts == null || Model.Accounts.Count == 0)
                {
                    @Html.TextBoxFor(model => model.Login)
                    <span>сделать администратором</span>
                    @Html.CheckBoxFor(model => model.IsAdmin)
                }
                else
                {
                    <ul>
                        @foreach (var user in Model.Accounts)
                        {
                            <li>
                                @user.Login 
                                <a href="@Url.Action("Delete", "Account", new { user.Login, Model.Id })">удалить</a>
                            </li>
                        }
                    </ul>
                }
                @Html.ValidationMessageFor(model => model.Accounts)
            </div>
        </div>
        <br/>

        <div>
            @Html.ActionLink("Перейти к товарам", "Index", "Default", null, new { @class = "btn btn-default" })
            <button class='btn btn-success'>Сохранить изменения</button>
        </div>
    }
}
