﻿@{
    ViewBag.Title = "Недостаточно прав";
}

<h2>@ViewBag.Title</h2>
<p>
    У Вас недостаточно прав для совершения данного действия
</p>

<a href="@Url.Action("Index", "Default")" class="btn btn-default">Перейти к товарам</a>
