﻿@model MvcApplication.Models.ChangePasswordModel

@{
    ViewBag.Title = "Смена пароля";
}

<h2>Смена пароля</h2>
<p>
    Используйте следующую форму для смены своего пароля. 
</p>
<p>
    Длина нового пароля не должна быть меньше  @ViewBag.PasswordLength знаков.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Не удалось изменить пароль. Исправьте ошибки и повторите попытку.")
    <div>
        <fieldset>
            <legend>Сведения учетной записи</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Смена пароля" />
            </p>
        </fieldset>
    </div>
}
