﻿@{
    ViewBag.Title = "Недопустимое дейстие";
}

<h2>@ViewBag.Title</h2>
<p>
    Удаление собственной учётной записи запрещено в связи с частыми ошибками.
</p>

<a href ="/Home/Index">Вернуться назад</a>
