﻿@model MvcApplication.Models.LogOnModel

@{
    ViewBag.Title = "Вход / Регистрация";
}

<h2>@ViewBag.Title</h2>
<p>
    Введите имя пользователя и пароль. Если у вас нет учетной записи, придумайте себе имя входа. Или же используйте адрес эл.почты: 
</p>

@Html.ValidationSummary(true, "Не удалось выполнить вход. Исправьте ошибки и повторите попытку.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Сведения учетной записи</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName, new { required = "required", maxlength = 50, size = 50 })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password, new { required = "required", size = 50 })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Вход для своих" class="btn btn-lg btn-primary" />
                <input name="isNewUser" type="submit" value="Я новый пользователь" class="btn btn-lg btn-success" />
            </p>

        </fieldset>
    </div>
}
