﻿@{
    ViewBag.Title = "Категория используется";
}

<h2>@ViewBag.Title</h2>
<p>
    Нельзя удалить категорию товаров, если она содержит товары.
</p>

<a href ="/Home/Index">Вернуться назад</a>
