﻿@using System.Linq
@using MvcApplication.Entities

@model Category
@{
    ViewBag.Title = "Описание категории";
}
<h2>@ViewBag.Title</h2>          


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </fieldset>
    <br/>

<div>
    @Html.ActionLink("Назад к списку", "Index", null, new { @class = "btn btn-default" })
    <button class='btn btn-success' @(User.IsInRole("Admin") ? "" : "disabled")>Сохранить изменения</button>
       
    @if (Model.Id != 0)
    {
        <input type="submit" name="isDeleted" class='btn btn-danger' @(User.IsInRole("Admin") ? "" : "disabled") value="Удалить категорию"/>
    }
</div>

}