﻿@{
    ViewBag.Title = "Спасибо за покупку!";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>Спасибо за покупку! </p> 
    <p>
        Наш менеджер свяжется с Вами по вопросам оплаты и доставки товаров по указанному Вами адресу электронной почты.
        Если адрес электронной почты устарел или Вы хотите его заменить, войдите в
        @Html.ActionLink("Личный кабинет", "Register", "Account", null, new {@class = "btn btn-xs btn-primary"})
    </p>
    <p> Приходите к нам ещё! </p>
</div>

@Html.ActionLink("Вернуться к товарам","Index", "Default", null, new {@class="btn btn-lg btn-default"}) 
