﻿@using System.Linq
@using System.Collections.Generic
@using MvcApplication.Models

@model ProductsAndCategories

@{
    ViewBag.Title = "Корзина";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
  if (!Model.Products.Any())
  {
    <p>Товары отсутствуют.</p>
  }
  else
  {
    <table class="table">
      <tr>
        <th> Выбор </th>
        <th>Наименование </th>
        <th>Цена</th>
        <th>
            Описание товара
        </th>
        <th>Категория товара</th>
      </tr>

    @for (int i = 0; i < Model.Products.Count; i++)
    {
      var product = Model.Products[i];  
      <tr>
        <td>
                @{ var item = Model.GetCartItem(product.Id); }
                <input type="checkbox" name="CartItems[@i].IsSelected" @(item.IsSelected != null ? "checked" : "")/>
                <input type="number" name="CartItems[@i].Count" value="@item.Count" min=1 />
                <input type="hidden" name="CartItems[@i].ProductId" value="@product.Id"/>
            шт.
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = product.Id })">&#9998; @product.Name</a>
        </td>
      
        <td>
            @product.Price &#8381;
        </td>
        <td>
            @product.Description
        </td>

        <td>
            @if (product.CategoryId != null)
            {
                @Model.GetCategoryName(product.CategoryId)
            }
            else
            {
                <i>без категории</i>
            }
        </td>
      </tr>
    }
    </table>
  }
  
    @Html.ActionLink("Вернуться к товарам", "Index", "Default", Model.Filter, new { @class = "btn btn-default" })

    if (Model.Products.Any())
    {
        <button class='btn btn-primary'>
            Изменить выбор
        </button>
        <button name="isBuy" class='btn btn-success'>
            Оформить покупку
        </button>
    }
  

  
}
