﻿@using System.Linq
@using MvcApplication.Entities
@using MvcApplication.Models

@model ProductsAndCategories
@{
    ViewBag.Title = "Описание товара";
}
<h2>@ViewBag.Title</h2>          


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.Product.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Name)
            @Html.ValidationMessageFor(model => model.Product.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Description)
            @Html.ValidationMessageFor(model => model.Product.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.CategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Product.CategoryId, Model.Categories, "-", new { style = "width: 150px;", })
            @Html.ValidationMessageFor(model => model.Product.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Product.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product.Price)
            @Html.ValidationMessageFor(model => model.Product.Price)
        </div>

    </fieldset>
    <br/>

<div>
    @Html.ActionLink("Назад к списку", "Index", null, new { @class = "btn btn-default" })
    <button class='btn btn-success' @(User.IsInRole("Admin") ? "" : "disabled")>Сохранить изменения</button>
       
    @if (Model.Product.Id != 0)
    {
        <input type="submit" name="isDeleted" class='btn btn-danger' @(User.IsInRole("Admin") ? "" : "disabled") value="Удалить товар"/>
    }
</div>

}