﻿@using System.Linq
@using System.Collections.Generic
@using MvcApplication.Models

@model ProductsAndCategories

@{
    ViewBag.Title = "Список товаров";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="bg-info" style="padding: 10px; text-align: right;">
        Интересующая Вас категория товара:
        @Html.DropDownListFor(x => x.Filter.CategoryId, Model.Categories, "-", new { style = "width: 230px;", })
        с ценой от
        @Html.EditorFor(x => x.Filter.MinPrice)
        до
        @Html.EditorFor(x => x.Filter.MaxPrice)        
        &#8381;
        <br/>
        и содержит слова: 
        @Html.EditorFor(x => x.Filter.Text) 
        @Html.RadioButtonFor(x => x.Filter.OnlyName, "true", true)
        в наименовании товара
        @Html.RadioButtonFor(x => x.Filter.OnlyName, "false")
        и в описании.

        <button class='btn btn-default'>Выбрать</button>
        @Html.ActionLink("Очистить", "Index", null, new { @class = "btn btn-default" })

    </div>
  <br/>

  if (!Model.Products.Any())
  {
    <p>Товары отсутствуют.</p>
  }
  else
  {
    <table class="table">
      <tr>
        <th> Выбор </th>
        <th>Наименование </th>
        <th>Цена</th>
        <th>
            Описание товара
        </th>
        <th>Категория товара</th>
      </tr>

    @for (int i = 0; i < Model.Products.Count; i++)
    {
      var product = Model.Products[i];  
      <tr>
        <td>
                @{ var item = Model.GetCartItem(product.Id); }
                <input type="checkbox" name="CartItems[@i].IsSelected" @(item.IsSelected != null ? "checked" : "")/>
                <input type="number" name="CartItems[@i].Count" value="@item.Count" min=1 />
                <input type="hidden" name="CartItems[@i].ProductId" value="@product.Id"/>
            шт.
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = product.Id })">&#9998; @product.Name</a>
        </td>
      
        <td>
            @product.Price &#8381;
        </td>
        <td>
            @product.Description
        </td>

        <td>
            @if (product.CategoryId != null)
            {
                @Model.GetCategoryName(product.CategoryId)
            }
            else
            {
                <i>без категории</i>
            }
        </td>
      </tr>
    }
    </table>
  }
  
    <button class='btn btn-primary'>
        Подтвердить выбор
    </button>
    
    <button class='btn btn-success' name="isCart">
        Перейти в корзину
    </button>
   
    if (User.IsInRole("Seller") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Добавить товар", "Edit", "Default", null, new { @class = "btn btn-info" })
    }
}
