﻿@using System.Linq
@using MvcApplication.Models

@model EditGroupModel
@{
    ViewBag.Title = "Управление группой";
}
<h2>@ViewBag.Title</h2>          


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        @Html.HiddenFor(model => model.Group.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Group.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Group.Name)
            @Html.ValidationMessageFor(model => model.Group.Name)
        </div>
    </div>
    <br/>

    <div>
        @Html.LabelFor(model => model.Group.Accounts)
        <ol>
            @for (int i = 0; i < Model.AllAccounts.Count; i++)
            {
                var account = Model.AllAccounts[i];  
                <li>
                    <input type="checkbox" name="Group.Accounts[@i].IsSelected" @(Model.InGroup(account.Id) ? "checked" : "") />
                    <input type="hidden" name="Group.Accounts[@i].Id" value="@account.Id"/>
                    @account.Login
                </li>
            }
        </ol>
        @Html.ValidationMessageFor(model => model.Group.Accounts)
    </div>
    <br/>

<div>
    @Html.ActionLink("Назад к списку", "Index", null, new { @class = "btn btn-default" })
    <button class='btn btn-success' @(User.IsInRole("Admin") ? "" : "disabled")>Сохранить изменения</button>
       
    @if (Model.Group.Id != 0)
    {
        <input type="submit" name="isDeleted" class='btn btn-danger' @(User.IsInRole("Admin") ? "" : "disabled") value="Удалить категорию"/>
    }
</div>

}