﻿@{
    ViewBag.Title = "Группа используется";
}

<h2>@ViewBag.Title</h2>
<p>
    Удаление группы пользователей при наличии в ней пользователей запрещено в связи с частыми ошибками.
</p>

<a href ="@Url.Action("Index")">Вернуться назад</a>
