﻿@using System.Linq
@using System.Collections.Generic
@using MvcApplication.DataContract

@model ICollection<KeyValuePair<GroupDataContract, int>>

@{
    ViewBag.Title = "Список групп";
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <p>Группы пользователей отсутствуют.</p>
}
else
{
    <table class="table">
        <tr>
            <th>Название группы</th>
            <th>
                Количество пользователей в группе
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Key.Id })">&#9998; @item.Key.Name</a>
                </td>
      
                <td>
                    @if (item.Value > 0)
                    {
                        @item.Value
                    }
                    else
                    {
                        @: -
                    }
                </td>
            </tr>
        }
    </table>
}

@using (Html.BeginForm("Edit", "Group", FormMethod.Get))
{
    <button class='btn btn-success' @(User.IsInRole("Admin") ? "" : "disabled")>
        Новая группа
    </button>
}
