﻿@using MvcApplication
@using MvcApplication.Models

@if (User.HasLastCart() && Html.IsSelected("Default") != "active" && Html.IsSelected("Account", "LogOn") != "active")
{
    using (Html.BeginForm("Cart", "Default", FormMethod.Get))
    {
        <h4 style="border: yellow 1px solid; background-color: #ffb; padding: 8px; text-align: right;">
            У Вас в корзине выбраны
            <b style="background-color: #fd9; padding: 4px; border: 1px solid #fa0;">@User.GetAccount().LastCartCount</b>
            товар(а). Перейти в
            <button class="btn btn-lg btn-success">
                Корзину
            </button>
        </h4>
    }
}
