﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
</head>

<body>
<div class="container theme-showcase">
   
    @Html.Partial("_UpperMenu")
    @Html.Partial("_CartBar")
    <div id="main">
        @RenderBody()
    </div>
</div>
</body>
</html>
