﻿@using MvcApplication
@using MvcApplication.Models

<div class="navbar-brand">
<small>
@using (Html.BeginForm("LogOff", "Account"))
{
    if (User.IsNotGuest())
    {
        @: Добро пожаловать, @(User.IsInRole("Admin") ? "администратор" : "сотрудник")
        <b>@User.GetAccount().FullName</b>
        <a href="@Url.Action("Register", "Home")" class="btn btn-xs btn-primary">
            Личный кабинет
        </a>
        <button class="btn btn-xs btn-primary" style="background-color:gray;">
            Выход
        </button>
    }
    else
    {
        @: Пожалуйста, @Html.ActionLink("Войдите", "LogOn", "Account", null, new { @class = "btn btn-xs btn-primary" })
        @:   или   @Html.ActionLink("Регистрация", "LogOn", "Account", null, new { @class = "btn btn-xs btn-success" })
    }
}
</small>
</div>