﻿ <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Магазин</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                
                <li class="@Html.IsSelected(controllers: "Default")">
                    @Html.ActionLink("Товары", "Index", "Default")
                </li> 
                <li class="@Html.IsSelected(controllers: "Category")">
                    @Html.ActionLink("Категории", "Index", "Category")
                </li> 
                <li class="@Html.IsSelected(controllers: "Home")">
                    @Html.ActionLink("Продавцы", "Index", "Home")
                </li>
                <li class="@Html.IsSelected(controllers: "Group")">
                    @Html.ActionLink("Группы", "Index", "Group")
                </li>               
            </ul>    

            <div class="nav navbar-nav navbar-right">
                @Html.Partial("_LogOnPartial")
            </div>
        </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->     
 </nav>    
